<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <meta charset="utf-8">
  <title>BASH history</title>
</head>

<body>
  <h1>BASH history from {{ hostname }}:</h1>
  <ul>
  {% for command in commands %}
    {% if command.startswith("#") %}
    <li>
      <h2>{{ command }}</h2>
    </li>
    {% else %}
    <li>
      <pre>{{ command }}</pre>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</body>
</html>
