*,
*:before,
*:after {
  box-sizing: border-box;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

pre:has(code) {
  position: relative;
  overflow: auto;

  /* make space  */
  margin: 5px 0;
  /* padding: 1.75rem 0 1.75rem 1rem; */
  border-radius: 10px;
}

pre:has(code) button {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: #828282;

  border: ridge 1px #7b7b7c;
  border-radius: 5px;
  text-shadow: #c4c4c4 0 0 2px;
}

pre:has(code) button:hover {
  cursor: pointer;
  background-color: #bcbabb;
}

body {
  height: 100dvh;
  margin: 0;
  padding-inline: 0.25rem;

  display: grid;
  place-items: center;
}

main {
  max-width: 700px;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.1rem;
}
